kafka:
  authorization-topic:
    name: authorization
    bootstrap-address: http://localhost:9092
    listener-id: authorization-service

  authorization_dlq-topic:
    name: authorization_dlq
    bootstrap-address: http://localhost:9092
    listener-id: authorization-service

  messages-topic:
    name: send-messages
    bootstrap-address: http://localhost:9092
    listener-id: authorization-service

  subscription-topic:
    name: subscription
    bootstrap-address: http://localhost:9092
    listener-id: authorization-service

spring:
  application:
    name: bot-service
  datasource:
    url: jdbc:postgresql://localhost:5432/sales-bot
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: false
  jackson:
    time-zone: UTC

server:
  port: 8092

logging:
  config: classpath:log4j2-plain.xml
