kafka:
  authorization-messages-topic:
    name: authorization-messages
    bootstrap-address: http://localhost:9092
    listener-id: links-service

  link-topic:
    name: link
    bootstrap-address: http://localhost:9092
    listener-id: links-service

  link_dlq-topic:
    name: link_dlq
    bootstrap-address: http://localhost:9092
    listener-id: links-service

  steam-service-topic:
    name: steam-service
    bootstrap-address: http://localhost:9092
    listener-id: links-service

spring:
  application:
    name: links
  datasource:
    url: jdbc:postgresql://localhost:5433/link
    username: postgres
    password: postgres
    driver-class-name: org.postgresql.Driver
  liquibase:
    enabled: false
  jackson:
    time-zone: UTC

server:
  port: 8093

logging:
  config: classpath:log4j2-plain.xml
